@import "../../../../../../styles/variables.scss";
.filter_container {
  background: $gray;
  width: 310px;
  padding: 14px 18px;
}
.categories_block {
  > h3 {
    font-weight: 700;
    color: $textBlack;
    font-size: 18px;
    line-height: 16px;
  }

  > div {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    row-gap: 15px;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 6px 0 16px;

      > span {
        color: $textBlack;
        font-size: 15px;
      }
    }
  }
}

.price_range_block {
  margin-top: 20px;

  > h3 {
    font-weight: 700;
    color: $textBlack;
    font-size: 18px;
    line-height: 16px;
  }
  > div {
    padding: 15px 50px 15px 16px;
    > p {
      margin-bottom: 15px;
    }
  }
}

.sizes_block {
  margin-top: 20px;
  > h3 {
    font-weight: 700;
    color: $textBlack;
    font-size: 18px;
    line-height: 16px;
  }
  > div {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    row-gap: 15px;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 6px 0 16px;

      > span {
        color: $textBlack;
        font-size: 15px;
      }
    }
  }
}
