@import "../../styles/variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  background: $green;
  padding: 8px 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
}
